.completed {
  text-decoration: line-through;
  color: #b0b0b0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: none;
  border-radius: 5px;
}

.todo-content {
  flex-grow: 1;
}

button {
  padding: 5px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: lightgray;
}

button:hover {
  background-color: gray;
  color: white;
}
